body{
  font-family: Helvetica, arial,  sans-serif;
  font-size: 13px;
}

.pageSpacing{
  width: 980px;
  margin-left:auto;
  margin-right:auto;
}

.col{
  display:inline-block;
}

.col-1{
  width:25%;
}

.col-2{
  width:73%;
  vertical-align: top;
  margin-left: 1%;
}

input{
  width: 350px;
  font-size: 12px;
  height: 27px;
  border-radius: 3px;;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.header{
  width:100%;
  font-weight: bold;
  background: #f5f5f5;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 15px;
  align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.pullRequest, .issues, .gist{
  margin-left: 10px;
  align: center;
  padding-bottom: 5px;
  vertical-align: middle;
}

.mega-octicon{
  vertical-align: middle;
}

.profilePicture{
  margin: 0 20px 10px 20px;
  width: 90%;
  border-radius: 10px;
}

.profileName{
  font-size: 26px;
  font-weight: bold;
  margin-left: 20px;
}

.name{
  font-size: 20px;
  margin-left: 20px;
  color: #666;
  margin-top: 5px;
  font-weight: lighter;
  padding-bottom: 19px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;

}

p {
  display: inline;
  margin-left: 5px;
  font-size: 14px;
}

.link{
  text-decoration: none;
  color: #4078c0;
}

.sideBar{
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.followers,
.starred,
.following{
  display: inline-block;
}

.container1{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 20px;
}

.followersCap,
.starredCap,
.followingCap{
  display: inline-block;
  margin-left: 30px;
  padding-bottom: 15px;
  padding-top: 10px;
}

.followersNum,
.starredNum,
.followingNum{
  font-size: 28px;
  font-weight: bold;
  color: #4078c0;
  text-align: center;
}

.followers,
.starred,
.following{
  color: #767676;
  font-size: 11px;
  text-align: center;
}

.tabs{
  border-bottom: 1px solid #ccc;
  margin-bottom:15px;
  /*border: 2px solid black;*/
}

.accordion{
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  color: #666;
}

.list{
  color: #666
}

.octicon-plus{
  font-size: 9px;
  border: 1px solid black;
  padding-left: 2px;
  padding-right: 2px;
}

.followButton{
  background: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #5ca941;
  color: white;
  margin-left: 178px;
}
.follow{
  font-weight: bold;
}
.actionBtn{
  border: #ccc 1px solid;
  border-radius: 3px;
  color: #333;
  background: #eee;
  background-image: linear-gradient(#fff,#eee);
  padding: 5px 7px 5px 7px;
  margin-left: -12px;
  margin-right: 0px;
}

.activeTab{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: -1px;
}

.accordion2,
.accordion3{
  padding: 11px 10px 11px 10px;
}

.contContainer{
  border: 1px solid #ccc;
  border-radius: 3px;
}
.contContainer2{
  border: 1px solid #ccc;
  margin-top: 30px;
  border-radius: 3px;
}

.contContainer3{
  margin-top: 30px;
  border-radius: 3px;
}

.contHeader{
  font-size: 14px;
  background: #f5f5f5;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #ccc;
}

.repoListItem:hover .repTitle{
  border-bottom: 1px solid #4078c0;
}

.repTitle{
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
  color: #4078c0;
}

.repDesc{
  font-size: 12px;
}

.repoListItem{
  padding: 3px 0px 10px 5px;
  border-bottom: 1px solid #ccc;
}

.repoListItemIo{
  padding-top: 10px;
}

.notdongthis{
  /*width:5%;*/
}

.timePeriod{
  float: right;
}
.contActivity{
  font-size:18px;
}
.noActivity{
  margin-top: 25px;
  border-radius: 3px;
  border: 1px #ddd solid;
  padding: 40px 0px 40px 0px;
  background: #f5f5f5;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  text-align:center;
}

.bigFoot{
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 40px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.leftFoot{
  float: left;
  display: inline;
}

.leftFoot li {
  margin-right: 10px;
  font-size: 12px;
  text-decoration: none;
}

.rightFoot{
  float:right;
  display: inline;
}

.rightFoot li {
  margin-left: 10px;
  font-size: 12px;
}

.textDeco{
  text-decoration: none;
  color: #4078c0;
}

.footerIcon{
  color: #767676;
  font-size: 5px;
}

.copyright{
  color: #767676;
}

.contributionWrapper{
  display: none;
}

.publicActivityWrapper{
  display: none;
}

.repoWrapper{
  display: none;
}

.pubActEventHolder{
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#orangeIcon{
  color: white;
  border-radius: 3px;
  float: right;
  margin-top: -110px;
  background: #f37538;
  padding: 1px 4px 1px 4px;
}

.reveal{
  display:block;
}

.stars{
  color: #888;
  text-align: right;
  font-size: 12px;
  margin-top: -25px;
  margin-bottom: 11px;
  padding-right: 2%;
}

.repoNav{
  display:inline-block;
  float: right;
  color: #4078c0;
}

.repoNav li{
  display:inline-block;
  font-size: 14px;
  margin-top: 7px;
  margin-left: 8px;
}

.searchBar2{
  font-size: 13px;
  height: 2.5em;
  width: 250px;
  border: 1px solid #ccc;
}

.searchButton{
  font-weight: bold;
  background: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  padding: 8px 10px 8px 10px;;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.navLiClick{
  font-weight: bold;
  color: black;
}

.repoHeader{
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.repTitle2{
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
  color: #4078c0;
}

.repDesc2{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}

.updates{
  color: #888;
  margin-top: 14px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.repoStarBranch{
  color: #888;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  margin-top: -100px;
  margin-bottom: 95px;
  padding-right: 2%;
}
.repoStarBranch span{
  margin-left: 5px;
}

.moveUp{
  margin-top: -35px;
}
